---
layout: structure
title: Adrian Cooney
---

<section class="box">
	<section class="third">
		<h2>Projects</h2>
		<ul class="projects">
			{% for project in site.data.projects %}
			<li>
				<h3><a href="{{project.link}}">{{project.link_text}}</a></h3>
				<p>{{project.description}}</p>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section class="flex blog">
		<h2>Blog</h2>
		<div class="box post-medium">
			<div class="flex banner">
				<a href="{{site.posts[0].url}}"><img src="{{page.image_assets}}/posts/{{site.posts[0].name}}/Cover-small.jpg"></a>
			</div>
			<div class="flex synopsis">
				<h3><a href="{{site.posts[0].url}}">{{site.posts[0].title}}</a></h3>
				<p>{{site.posts[0].synopsis}}</p>
			</div>
		</div>
		{% if site.posts.size > 1 %}
		<div class="box post-list-small">
			{% for post in site.posts limit:4 offset:1 %}
				<div class="flex post-small">
					<span style="background-image:url({{page.image_assets}}/posts/{{post.name}}/Cover-small.jpg)"><a href="{{post.url}}"></a></span>
					<h3><a href="{{post.url}}">{{post.title}}</a></h3>
				</div>
			{% endfor %}
		</div>
		{% endif %}
	</section>
</section>